.TodoItem {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.TodoItem input {
  flex: 1;
  font-size: 14px;
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
}
.TodoItem .tit {
  flex: 1;
  font-size: 16px;
  color: #000;
  font-weight: 500;
}
.TodoItem .date {
  font-size: 14px;
  color: #888;
}
.TodoItem button {
  cursor: pointer;
  color: #999;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  padding: 10.5px 8px;
}
