.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list .tit {
  font-size: 16px;
  color: #000;
}
.list .todos_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.pagination .page-btn {
  font-size: 14px;
  width: 20px;
  height: 20px;
  color: rgba(0, 0, 0, 0.3);
  border: none;
  background: transparent;
}
.pagination .page-btn.active-page {
  color: #000;
}
.pagination .page-num {
  font-size: 14px;
  margin-inline: 10px;
}
