.editor {
  display: flex;
  gap: 10px;
}

.editor .user-input {
  flex: 1;
  padding: 15px;
  border: 1px solid #eee;
  border-radius: 5px;
}

.editor .add-btn {
  cursor: pointer;
  width: 80px;
  border: none;
  background-color: #eee;
  color: #333;
  border-radius: 5px;
}
